@import url("https://fonts.googleapis.com/css2?family=Alegreya+Sans:wght@100;300;400;500;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Alegreya Sans", sans-serif;
}

.gap-container {
  max-width: 1200px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

#app {
  width: 100vw;
  min-height: 100vh;
  background: #121212;
}

.gallery-container .gallery-box {
  gap: 10px;
}

.gallery-container .gallery-box .box {
  width: calc(100% / 4 - 8px);
  cursor: pointer;
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
}

.gallery-container .gallery-box .box:hover {
  transform: scale(0.97);
  -webkit-transform: scale(0.97);
  -moz-transform: scale(0.97);
  -ms-transform: scale(0.97);
  -o-transform: scale(0.97);
}

.gallery-container .gallery-box .box .img-box {
  width: 100%;
}

.gallery-container .gallery-box .box .img-box img {
  width: 100%;
}

.form-container .form-box {
  background: linear-gradient(to right, #1a6dff, #c822ff, #1a6dff, #c822ff);
  padding: 1px;
}

.form-container form {
  width: 100%;
  padding: 10px;
  background: #1f1f1f;
  gap: 10px;
}

.form-container .form-box form textarea {
  border: none;
  outline: none;
  min-width: calc(100% - 40px - 20px);
  width: 100%;
  min-height: 42px;
  max-height: 100px;
  color: #fff;
  font-family: "Alegreya Sans", sans-serif;
  font-size: 18px;
  padding: 10px;
  background: transparent;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

.form-container .form-box form button {
  outline: 0;
  border: 0;
  background: transparent;
  cursor: pointer;
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
}

.form-container .form-box form button:active {
  transform: scale(0.97);
  -webkit-transform: scale(0.97);
  -moz-transform: scale(0.97);
  -ms-transform: scale(0.97);
  -o-transform: scale(0.97);
}

.form-container .form-box form button img {
  height: 40px;
}

/* responsive  */
@media (max-width: 1240px) {
  .gap-container {
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media (max-width: 1023px) {
  .gallery-container .gallery-box .box {
    width: calc(100% / 3 - 7px);
  }
}

@media (max-width: 767px) {
  .gap-container {
    padding-left: 10px;
    padding-right: 10px;
  }
  .gallery-container .gallery-box .box {
    width: calc(100% / 2 - 5px);
  }
}

@media (max-width: 500px) {
  .gallery-container .gallery-box .box {
    width: calc(100% / 1 - 0px);
  }
}
