@import url("https://fonts.googleapis.com/css2?family=Alegreya+Sans:wght@100;300;400;500;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Alegreya Sans", sans-serif;
}

.gap-container {
  max-width: 1200px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.fd-none {
  display: none;
}

#app {
  width: 100vw;
  min-height: 100vh;
  background: #121212;
}

.form-container .select-box {
  background: linear-gradient(to right, #1a6dff, #c822ff);
  padding: 1px;
  cursor: pointer;
}

.form-container .select-box select {
  outline: none;
  border: none;
  padding: 14px 10px;
  background-color: #1f1f1f;
  color: #ffffff;
  font-size: 14px;
  height: 55px;
  max-height: 55px;
  cursor: pointer;
}

.form-container .select-box select option {
  padding: 10px;
}

.form-container .form-box {
  background: linear-gradient(to right, #1a6dff, #c822ff, #1a6dff, #c822ff);
  padding: 1px;
  width: 100%;
}

.form-container form {
  width: 100%;
  padding: 6px;
  background: #1f1f1f;
  gap: 10px;
}

.form-container .form-box form textarea {
  border: none;
  outline: none;
  /* min-width: calc(100% - 40px - 20px); */
  width: 100%;
  min-height: 42px;
  max-height: 100px;
  color: #fff;
  font-family: "Alegreya Sans", sans-serif;
  font-size: 18px;
  padding: 10px;
  background: transparent;
  resize: none;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

.form-container .form-box form button {
  outline: 0;
  border: 0;
  background: transparent;
  cursor: pointer;
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
}

.form-container .form-box form button:active {
  transform: scale(0.97);
  -webkit-transform: scale(0.97);
  -moz-transform: scale(0.97);
  -ms-transform: scale(0.97);
  -o-transform: scale(0.97);
}

.form-container .form-box form button img {
  height: 40px;
}

.gallery-container .gallery-box {
  gap: 10px;
}

.gallery-container .gallery-box .box {
  width: calc(100% / 4 - 8px);
  cursor: pointer;
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
}

.gallery-container .gallery-box .box:hover {
  transform: scale(0.97);
  -webkit-transform: scale(0.97);
  -moz-transform: scale(0.97);
  -ms-transform: scale(0.97);
  -o-transform: scale(0.97);
}

.gallery-container .gallery-box .box .img-box {
  width: 100%;
}

.gallery-container .gallery-box .box .img-box img {
  width: 100%;
}

.loading-container .loading-box {
  min-height: calc(100vh - 117px);
}

.loading-container .loading-box .loader img {
  height: 60px;
}

.loading-container .loading-box .note {
  width: 300px;
  max-width: 300px;
}

.loading-container .loading-box .note .list {
  margin-bottom: 6px;
}

.loading-container .loading-box .note .list h1 {
  font-size: 16px;
  color: #525252;
  margin-right: 10px;
  min-width: 90px;
  white-space: nowrap;
}

.loading-container .loading-box .note .list p {
  font-size: 14px;
  color: #525252;
  font-weight: 600;
}

/* responsive  */
@media (max-width: 1240px) {
  .gap-container {
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media (max-width: 1023px) {
  .gallery-container .gallery-box .box {
    width: calc(100% / 3 - 7px);
  }
}

@media (max-width: 767px) {
  .gap-container {
    padding-left: 10px;
    padding-right: 10px;
  }
  .gallery-container .gallery-box .box {
    width: calc(100% / 2 - 5px);
  }
}

@media (max-width: 500px) {
  .form-container .form-wrapper {
    padding: 20px 0;
    flex-direction: column;
  }
  .form-container .select-box {
    width: 100%;
    margin-right: 0;
    margin-bottom: 10px;
  }
  .form-container .select-box select {
    width: 100%;
  }
  .gallery-container .gallery-box .box {
    width: calc(100% / 1 - 0px);
  }
  .loading-container .loading-box {
    min-height: calc(100vh - 164px);
  }
}
